<?xml version="1.0" encoding="UTF-8"?>
<!--suppress UnparsedCustomBeanInspection -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:mvc="http://www.springframework.org/schema/mvc"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- &lt;!&ndash;dubbo服务暴露端口&ndash;&gt;
     <dubbo:protocol name="dubbo" port="20885"/>
     &lt;!&ndash;服务应用名&ndash;&gt;
     <dubbo:application name="pinyougou-page-service"/>
     &lt;!&ndash;注册中心地址&ndash;&gt;
     <dubbo:registry address="zookeeper://192.168.25.128:2181"/>
     &lt;!&ndash;需要配置为dubbo服务的包&ndash;&gt;
     <dubbo:annotation package="com.pinyougou.page.service.impl"/>-->
    <context:component-scan base-package="com.pinyougou.page.service.impl"/>
    <bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="/WEB-INF/ftl/"/>
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>

</beans>